#infobox1 {
    /* background-color: #fff; */
    /* background-image: url("../images/ib1img.jpg"); */
    /* background-image: url("../images/ib1img.jpg"), linear-gradient(to bottom, rgba(255,255,255,0), #000); */
    background: linear-gradient(#fff, #fff, transparent), url("../images/ib1img.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    min-height: 400px;
}
#infobox2 {
    background: linear-gradient(#fff, transparent), url("../images/ib2img.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    min-height: 400px;

}
#infobox3 {
    background: linear-gradient(#fff, #fff, transparent), url("../images/ib3img.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    min-height: 400px;

}
