<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Landing</title>
		{% load static %}
		<meta charset="utf-8">
		<meta name="description" content="TODO">
		<meta name="author" content="Michael Kemper">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'gas_app/css/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline@0.1.1/src/chartjs-plugin-trendline.min.js"></script>
		<script type="text/javascript" src="http://www.carqueryapi.com/js/carquery.0.3.4.js"></script>
		<script type="text/javascript">
			let year = "{{current_car.year}}";
			let make_id = "{{current_car.make}}";
			let model = "{{current_car.model}}";
			let trim_id = "{{current_car.trim}}";
			let data_dict = "{{data_json|safe}}";
		</script>
		<script src="{% static 'gas_app/js/graph.js' %}"></script>
		<script src="{% static 'gas_app/js/car_information.js' %}"></script>
	</head>
	<body>
		{% include "gas_app/partials/navbar.html" %}
		<div class="container-fluid">
			<div class="row">
				{% include "gas_app/partials/sidebar.html" %}
				<main role="main" class="col-md-9 col-lg-10 ml-sm-auto pt-5 mt-2 px-4">
					<div class="py-3 border-bottom d-flex justify-content-between flex-wrap">
						<h2>{{current_car.name}}</h2>
						<h3 id="car_summary">Loading...</h3>
					</div>
					<canvas id="myChart" class="my-4 w-100"></canvas>
					<div class="px-3 row justify-content-between">
						<h3>Recent Entries</h3>
						<p><a href="{% url 'gas:new_entry' %}">New Entry</a> | <a href="{% url 'gas:edit_entry' last_entry.id %}">Edit Last Entry</a> | <a href="{% url 'gas:view_car' current_car.id %}">View More Entries</a></p>
					</div>
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-sm">
							<thead>
								<tr>
									<th scope="col">Date</th>
									<th scope="col">Gallons</th>
									<th scope="col">Odometer</th>
									<th scope="col">Miles Since Last</th>
									<th scope="col">Miles Per Gallon</th>
									<th scope="col">Cost</th>
									<th scope="col">Cost Per Gallon</th>
								</tr>
							</thead>
							<tbody>
								{% for entry, value in comp_dict.items %}
								<tr>
									<td>{{entry.entry_date}}</td>
									<td>{{entry.gallons}}</td>
									<td>{{entry.odometer}}</td>
									<td>{{value.0}}</td>
									<td>{{value.1|floatformat:2}}</td>
									<td>${{entry.price|floatformat:2}}</td>
									<td>${{entry.price_per_gallon|floatformat:2}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>