<!DOCTYPE html>
<html lang="en">
	<head>
        <title>{% if 'new' in request.path %}New{% elif 'edit' in request.path %}Edit{% endif %} Car</title>
        {% load static %}
		<meta charset="utf-8">
		<meta name="description" content="Sign In">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'gas_app/css/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://www.carqueryapi.com/js/carquery.0.3.4.js"></script>
        {% if 'entries' in request.path %}
        <script src="{% static 'gas_app/js/entry_form_control.js' %}"></script>
        {% elif 'cars' in request.path %}
        <script src="{% static 'gas_app/js/car_form_control.js' %}"></script>
        {% endif %}
	</head>
	<body>
        {% include "gas_app/partials/navbar.html" %}
        <div class="container-fluid">
            <div class="row">
                {% include "gas_app/partials/sidebar.html" %}
                <main class="col-md-9 col-lg-10 ml-sm-auto px-4">
                    <div class="container">
                        <div class="mt-5 pt-2 row justify-content-between">
                            <div class="col-md-6 py-3">
                                <h2>{% if 'new' in request.path %}New{% elif 'edit' in request.path %}Edit{% endif %} {% if 'cars' in request.path %}Car{% elif 'entries' in request.path %}Entry{% endif %}</h2>
                                {% if 'cars' in request.path %}
                                {% include "gas_app/partials/car_form.html" %}
                                {% elif 'entries' in request.path %}
                                {% include "gas_app/partials/entry_form.html" %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
	</body>
</html>