{% if 'new' in request.path %}
<form action="{% url 'gas:create_car' %}" method="POST">
{% elif 'edit' in request.path %}
<form action="{% url 'gas:update_car' %}" method="POST">
{% endif %}
    {% csrf_token %}
    <div class="form-group">
        <div class="row justify-content-between">
            <label for="car-name">Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control {% if messages %}{% for message in messages %}{% if message.tags == 'car_name error' %}border border-danger{% endif %}{% endfor %}{% endif %}" name="car-name" id="car-name" placeholder="My First Car" aria-describedby="car-name-help">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'car_name error' %}
                <small id="car-name-help" class="text-danger">{{message}}</small>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row justify-content-between">
            <label for="car-years">Year:</label>
            <div class="col-sm-6">
                <select class="custom-select custom-select-sm {% if messages %}{% for message in messages %}{% if message.tags == 'year error' %}is-invalid{% endif %}{% endfor %}{% endif %}" name="car-years" id="car-years" aria-describedby="car-year-help"></select>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'year error' %}
                <small id="car-year-help" class="text-danger">{{message}}</small>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row justify-content-between">
            <label for="car-makes">Make:</label>
            <div class="col-sm-6">
                <select class="custom-select custom-select-sm {% if messages %}{% for message in messages %}{% if message.tags == 'make error' %}is-invalid{% endif %}{% endfor %}{% endif %}" name="car-makes" id="car-makes" aria-describedby="car-makes-help"></select>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'make error' %}
                <small id="car-makes-help" class="text-danger">{{message}}</small>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row justify-content-between">
            <label for="car-models">Model:</label>
            <div class="col-sm-6">
                <select class="custom-select custom-select-sm {% if messages %}{% for message in messages %}{% if message.tags == 'model error' %}is-invalid{% endif %}{% endfor %}{% endif %}" name="car-models" id="car-models" aria-describedby="car-models-help"></select>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'model error' %}
                <small id="car-models-help" class="text-danger">{{message}}</small>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row justify-content-between">
            <label for="car-model-trims">Trim:</label>
            <div class="col-sm-6">
                <select class="custom-select custom-select-sm {% if messages %}{% for message in messages %}{% if message.tags == 'trim error' %}is-invalid{% endif %}{% endfor %}{% endif %}" name="car-model-trims" id="car-model-trims" aria-describedby="car-model-trims-help"></select>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'trim error' %}
                <small id="car-model-trims-help" class="text-danger">{{message}}</small>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row justify-content-end pr-3">
        <a href="{% url 'gas:home' %}" class="mx-3 btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>