{% if 'new' in request.path %}
<form action="{% url 'gas:create_entry' %}" method="POST">
{% elif 'edit' in request.path %}
<form action="{% url 'gas:update_entry' entry.id %}" method="POST">
{% endif %}
    {% csrf_token %}
    <div class="form-group">
        <div class="row justify-content-between">
            <label for="car_select">Car:</label>
            <div class="col-sm-6">
                <select class="form-control" name="car_select" aria-describedby="car_select_help">
                    {% for car in all_cars %}
                    <option value="{{car.id}}" {% if car == entry.car %} selected {% endif %}>{{car.name}}</option>
                    {% endfor %}
                </select>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'car_select error' %}
                <small id="car_select_help" class="text-danger">{{message}}</small>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row justify-content-between">
            <label for="date">Date:</label>
            <div class="col-sm-6">
                <input type="date" class="form-control datefield" name="date" id="date">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'date error' %}
                <small id="date_help" class="text-danger">{{message}}</small>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row justify-content-between">
            <label for="odometer">Odometer:</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="odometer" id="odometer" step="any" min="0" {% if 'edit' in request.path %} value="{{entry.odometer}}" {% endif %}>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'odometer error' %}
                <small id="odometer_help" class="text-danger">{{message}}</small>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row justify-content-between">
            <label for="gallons">Gallons:</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="gallons" id="gallons" step="any" min="0" {% if 'edit' in request.path %} value="{{entry.gallons}}" {% endif %}>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'gallons error' %}
                <small id="gallons_help" class="text-danger">{{message}}</small>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row justify-content-between">
            <label for="price">Total Price:</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="price" id="price" step="any" min="0" {% if 'edit' in request.path %} value="{{entry.price}}" {% endif %}>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'price error' %}
                <small id="price_help" class="text-danger">{{message}}</small>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row justify-content-end pr-3">
        <a href="{% url 'gas:home' %}" class="mx-3 btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>