<nav class="col-md-2 d-none d-md-block sidebar navbar-light bg-light">
    <div class="sidebar-sticky">
        <ul class="pl-4 navbar-nav flex-column">
            <li class="nav-item"><a href="" class="nav-link">First Car</a></li>
            <li class="nav-item"><a href="" class="nav-link">Second Car</a></li>
            <li class="nav-item"><a href="" class="nav-link">Third Car</a></li>
            <li class="nav-item"><a href="" class="nav-link">Fourth Car</a></li>
            <li class="nav-item"><a href="" class="nav-link">Fifth Car</a></li>
        </ul>
    </div>
</nav>